
<div *ngIf="subject">
    <h2><span jhiTranslate="mpsisApp.subject.detail.title">Subject</span> {{subject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mpsisApp.subject.name">Name</span></dt>
        <dd>
            <span>{{subject.name}}</span>
        </dd>
        <dt><span jhiTranslate="mpsisApp.subject.lecturer">Lecturer</span></dt>
        <dd>
            <div *ngIf="subject.lecturerId">
                <a [routerLink]="['/lecturer', subject.lecturerId]">{{subject.lecturerId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="mpsisApp.subject.course">Course</span></dt>
        <dd>
            <div *ngIf="subject.courseId">
                <a [routerLink]="['/course', subject.courseId]">{{subject.courseName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
