
<div *ngIf="room">
    <h2><span jhiTranslate="mpsisApp.room.detail.title">Room</span> {{room.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mpsisApp.room.number">Number</span></dt>
        <dd>
            <span>{{room.number}}</span>
        </dd>
        <dt><span jhiTranslate="mpsisApp.room.capacity">Capacity</span></dt>
        <dd>
            <span>{{room.capacity}}</span>
        </dd>
        <dt><span jhiTranslate="mpsisApp.room.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'mpsisApp.SubjectType.' + room.type}}">{{room.type}}</span>
        </dd>
        <dt><span jhiTranslate="mpsisApp.room.building">Building</span></dt>
        <dd>
            <div *ngIf="room.buildingId">
                <a [routerLink]="['/building', room.buildingId]">{{room.buildingName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'room/'+ room.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
