
<div *ngIf="slot">
    <h2><span jhiTranslate="mpsisApp.slot.detail.title">Slot</span> {{slot.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mpsisApp.slot.day">Day</span></dt>
        <dd>
            <span jhiTranslate="{{'mpsisApp.Day.' + slot.day}}">{{slot.day}}</span>
        </dd>
        <dt><span jhiTranslate="mpsisApp.slot.number">Number</span></dt>
        <dd>
            <span>{{slot.number}}</span>
        </dd>
        <dt><span jhiTranslate="mpsisApp.slot.room">Room</span></dt>
        <dd>
            <div *ngIf="slot.roomId">
                <a [routerLink]="['/room', slot.roomId]">{{slot.roomId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="mpsisApp.slot.subject">Subject</span></dt>
        <dd>
            <div *ngIf="slot.subjectId">
                <a [routerLink]="['/subject-resource', slot.subjectId]">{{slot.subjectId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'slot/'+ slot.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
