<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySlotLabel" jhiTranslate="mpsisApp.slot.home.createOrEditLabel">Create or edit a Slot</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!slot.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="slot.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mpsisApp.slot.day" for="field_day">Day</label>
            <select class="form-control" name="day" [(ngModel)]="slot.day" id="field_day"  required>
                <option value="MONDAY">{{'mpsisApp.Day.MONDAY' | translate}}</option>
                <option value="TUESDAY">{{'mpsisApp.Day.TUESDAY' | translate}}</option>
                <option value="WEDNESDAY">{{'mpsisApp.Day.WEDNESDAY' | translate}}</option>
                <option value="THURSDAY">{{'mpsisApp.Day.THURSDAY' | translate}}</option>
                <option value="FRIDAY">{{'mpsisApp.Day.FRIDAY' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.day?.dirty && editForm.controls.day?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.day?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mpsisApp.slot.number" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                [(ngModel)]="slot.number" required min="1" max="16" />
            <div [hidden]="!(editForm.controls.number?.dirty && editForm.controls.number?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.number?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.number?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.number?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 16 }">
                    This field cannot be more than 16.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.number?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mpsisApp.slot.room" for="field_room">Room</label>
            <select class="form-control" id="field_room" name="room" [(ngModel)]="slot.roomId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="roomOption.id" *ngFor="let roomOption of rooms; trackBy: trackRoomById">{{roomOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mpsisApp.slot.subject" for="field_subject">Subject</label>
            <select class="form-control" id="field_subject" name="subject" [(ngModel)]="slot.subjectId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subjectResourceOption.id" *ngFor="let subjectResourceOption of subjectresources; trackBy: trackSubjectResourceById">{{subjectResourceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
