<div>
    <h2>
        <span jhiTranslate="mpsisApp.slot.home.title">Slots</span>
        <button class="btn btn-primary float-right jh-create-entity create-slot" [routerLink]="['/', { outlets: { popup: ['slot-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="mpsisApp.slot.home.createLabel">
            Create new Slot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mpsisApp.slot.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="slots">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mpsisApp.slot.day">Day</span></th>
            <th><span jhiTranslate="mpsisApp.slot.number">Number</span></th>
            <th><span jhiTranslate="mpsisApp.slot.room">Room</span></th>
            <th><span jhiTranslate="mpsisApp.slot.subject">Subject</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let slot of slots ;trackBy: trackId">
                <td><a [routerLink]="['../slot', slot.id ]">{{slot.id}}</a></td>
                <td jhiTranslate="{{'mpsisApp.Day.' + slot.day}}">{{slot.day}}</td>
                <td>{{slot.number}}</td>
                <td>
                    <div *ngIf="slot.roomId">
                        <a [routerLink]="['../room', slot.roomId  ]" >{{slot.roomId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="slot.subjectId">
                        <a [routerLink]="['../subject-resource', slot.subjectId  ]" >{{slot.subjectId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../slot', slot.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'slot/'+ slot.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'slot/'+ slot.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
