
<div *ngIf="course">
    <h2><span jhiTranslate="mpsisApp.course.detail.title">Course</span> {{course.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mpsisApp.course.name">Name</span></dt>
        <dd>
            <span>{{course.name}}</span>
        </dd>
        <dt><span jhiTranslate="mpsisApp.course.semester">Semester</span></dt>
        <dd>
            <span>{{course.semester}}</span>
        </dd>
        <dt><span jhiTranslate="mpsisApp.course.department">Department</span></dt>
        <dd>
            <div *ngIf="course.departmentId">
                <a [routerLink]="['/department', course.departmentId]">{{course.departmentName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'course/'+ course.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
    <button type="button"
            class="btn btn-success"
            (click)="generateTimetable()"
    >
        <span class="fa fa-rocket"></span> <span jhiTranslate="entity.action.generate">Generate</span>
    </button>
    <div *ngIf="loader" class="loader-container">
        <div class="loader"></div>
    </div>
    <div *ngIf="timetable" class="timetable">
        <div>
            <div class="alert alert-dark"><span>{{'mpsisApp.Day.MONDAY' | translate}}</span></div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="mpsisApp.course.slotId">Time slot ID</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.subject.detail.title">Subject</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.subjectResource.type">Type</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.course.hours">Hours</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.room.detail.title">Room</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.room.capacity">Capcity</span></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let slot of timetable.monday">
                        <th scope="row">{{ slot.id }}</th>
                        <td>{{ slot.subject.name }}</td>
                        <td>{{ slot.subject.type }}</td>
                        <td>{{ slot.startTime }} - {{ slot.endTime }}</td>
                        <td>{{ slot.room.name }}</td>
                        <td>{{ slot.room.capacity }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="alert alert-dark"><span>{{'mpsisApp.Day.TUESDAY' | translate}}</span></div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="mpsisApp.course.slotId">Time slot ID</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.subject.detail.title">Subject</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.subjectResource.type">Type</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.course.hours">Hours</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.room.detail.title">Room</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.room.capacity">Capcity</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let slot of timetable.tuesday">
                    <th scope="row">{{ slot.id }}</th>
                    <td>{{ slot.subject.name }}</td>
                    <td>{{ slot.subject.type }}</td>
                    <td>{{ slot.startTime }} - {{ slot.endTime }}</td>
                    <td>{{ slot.room.name }}</td>
                    <td>{{ slot.room.capacity }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="alert alert-dark"><span>{{'mpsisApp.Day.WEDNESDAY' | translate}}</span></div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="mpsisApp.course.slotId">Time slot ID</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.subject.detail.title">Subject</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.subjectResource.type">Type</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.course.hours">Hours</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.room.detail.title">Room</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.room.capacity">Capcity</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let slot of timetable.wednesday">
                    <th scope="row">{{ slot.id }}</th>
                    <td>{{ slot.subject.name }}</td>
                    <td>{{ slot.subject.type }}</td>
                    <td>{{ slot.startTime }} - {{ slot.endTime }}</td>
                    <td>{{ slot.room.name }}</td>
                    <td>{{ slot.room.capacity }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="alert alert-dark"><span>{{'mpsisApp.Day.THURSDAY' | translate}}</span></div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="mpsisApp.course.slotId">Time slot ID</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.subject.detail.title">Subject</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.subjectResource.type">Type</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.course.hours">Hours</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.room.detail.title">Room</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.room.capacity">Capcity</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let slot of timetable.thursday">
                    <th scope="row">{{ slot.id }}</th>
                    <td>{{ slot.subject.name }}</td>
                    <td>{{ slot.subject.type }}</td>
                    <td>{{ slot.startTime }} - {{ slot.endTime }}</td>
                    <td>{{ slot.room.name }}</td>
                    <td>{{ slot.room.capacity }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="alert alert-dark"><span>{{'mpsisApp.Day.FRIDAY' | translate}}</span></div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="mpsisApp.course.slotId">Time slot ID</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.subject.detail.title">Subject</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.subjectResource.type">Type</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.course.hours">Hours</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.room.detail.title">Room</span></th>
                    <th scope="col"><span jhiTranslate="mpsisApp.room.capacity">Capcity</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let slot of timetable.friday">
                    <th scope="row">{{ slot.id }}</th>
                    <td>{{ slot.subject.name }}</td>
                    <td>{{ slot.subject.type }}</td>
                    <td>{{ slot.startTime }} - {{ slot.endTime }}</td>
                    <td>{{ slot.room.name }}</td>
                    <td>{{ slot.room.capacity }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
