.timetable {
    margin-top: 50px;
}

.loader-container {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.loader {
    margin: 0 auto;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #393F49;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s ease-in-out infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
