
<div *ngIf="subjectResource">
    <h2><span jhiTranslate="mpsisApp.subjectResource.detail.title">Subject Resource</span> {{subjectResource.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mpsisApp.subjectResource.duration">Duration</span></dt>
        <dd>
            <span>{{subjectResource.duration}}</span>
        </dd>
        <dt><span jhiTranslate="mpsisApp.subjectResource.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'mpsisApp.SubjectType.' + subjectResource.type}}">{{subjectResource.type}}</span>
        </dd>
        <dt><span jhiTranslate="mpsisApp.subjectResource.subject">Subject</span></dt>
        <dd>
            <div *ngIf="subjectResource.subjectId">
                <a [routerLink]="['/subject', subjectResource.subjectId]">{{subjectResource.subjectName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subject-resource/'+ subjectResource.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
