<div>
    <h2>
        <span jhiTranslate="mpsisApp.subjectResource.home.title">Subject Resources</span>
        <button class="btn btn-primary float-right jh-create-entity create-subject-resource" [routerLink]="['/', { outlets: { popup: ['subject-resource-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="mpsisApp.subjectResource.home.createLabel">
            Create new Subject Resource
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mpsisApp.subjectResource.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subjectResources">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mpsisApp.subjectResource.duration">Duration</span></th>
            <th><span jhiTranslate="mpsisApp.subjectResource.type">Type</span></th>
            <th><span jhiTranslate="mpsisApp.subjectResource.subject">Subject</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subjectResource of subjectResources ;trackBy: trackId">
                <td><a [routerLink]="['../subject-resource', subjectResource.id ]">{{subjectResource.id}}</a></td>
                <td>{{subjectResource.duration}}</td>
                <td jhiTranslate="{{'mpsisApp.SubjectType.' + subjectResource.type}}">{{subjectResource.type}}</td>
                <td>
                    <div *ngIf="subjectResource.subjectId">
                        <a [routerLink]="['../subject', subjectResource.subjectId  ]" >{{subjectResource.subjectName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../subject-resource', subjectResource.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subject-resource/'+ subjectResource.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subject-resource/'+ subjectResource.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
